
<head>

	<title>Leka | {{title}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">
	<meta property="og:description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">
	<meta name="twitter:description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">

	<meta name="Keywords" content="autism, robot, smart, toy, exceptional, children, exceptional children, autistic, asd, autism spectrum disorder, sphere, sensory, ball, interactive, communication, music, movements, lights, aba, teacch, pecs, special education, play, learn, progress, fun, happy, low level, high functioning, robotics, technology">

	<meta name="author" content="Co-authored by Adrien Gsell &amp; Ladislas de Toldi for Leka">

	<meta name="robots" content="index, follow">

	<meta property="og:title" content="Leka | Discover Moti">
	<meta property="og:site_name" content="Leka">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="http://leka.io/">
	<meta property="og:type" content="article">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@weareleka">
	<meta name="twitter:creator" content="@ladisonline">

	<script src="javascripts/modernizr.min.js"></script>
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

	<!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
	<link rel="icon" type="image/png" href="favicon.png">

</head>
