
<header id="header" class="alt">

	<h1><a href="/">Leka</a></h1>

	<nav id="nav">
		<ul>
			<li><a data-scroll href="#top">Home</a></li>
			<li><a data-scroll href="#">Moti</a></li>
			<li><a data-scroll href="#">Team</a></li>
			<!-- <li><a data-scroll href="#">We are hiring!</a></li> -->
			<li><a data-scroll href="#">Say hello</a></li>
			<li><a data-scroll href="#cta" class="button">Pre-order</a></li>
		</ul>
	</nav>

</header>
